#home{
    justify-content: space-between !important;
    gap: 2rem !important;
    background-color: var(--home);
    flex-direction: row !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    overflow: hidden !important;
}

#home aside{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: end;
    align-items: center;
}
#home aside hr{
    height: 70px;
    width: 2px;
    background-color: var(--light_text);
    opacity: 0.5;
}
#home aside a:hover{
    color: var(--main_color);
    opacity: 1;
}
#home aside a{
    color: var(--light_text);
    opacity: 0.5;
    font-size: 1.3rem;
}
#home .page_content{

    padding-left: 4rem;
}

#home .page_content .large_fonts span{
    font-size: inherit;
}
#home h1{

    color: var(--main_color);
    font-weight: 800;
}
#home .words{
        height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}
#home #page_title{
    justify-content: start;
}
#home .large_fonts{
    display: flex;
    flex-direction: column;
    align-items: start;

}
#home .fancy_button{
    padding: 0.9rem 4.5rem;
    box-shadow: none;
    border: 1px solid var(--light_text);
    color: var(--light_text);
}
#home .words h5{
    width: 50dvw;
    color: var(--light_text);
    text-align: justify;
}

#home footer{
    position: absolute;
    align-self: center;
    bottom: 1.5rem;
    color: var(--light_text);
    width: 100%;
    text-align: center;
}
#home .troll{
    position: absolute;
    font-size: 11.5rem !important;
    z-index: -1;

    opacity: 0.02;
    color: var(--light_text);


}
#home .troll:nth-child(1){
        left: 5rem;
        top: 3rem;
            transform: rotate(13deg);
}
#home .troll:nth-child(2){
    top: 30%;
    right: 10%;
        transform: rotate(43deg);
}
#home .troll:nth-child(3){
    bottom: 1rem;
    left: 5rem;
        transform: rotate(-13deg);
}
#home .troll:nth-child(4){
    top: 10%;
    left: 50%;
    transform: rotate(30deg);
}
#home .troll:nth-child(5){
    top: 70%;
    left: 50%;
        transform: rotate(-30deg);
}
footer a{
    color: var(--main_color);
    font-weight: 800;
}

@media (max-width:816px) {
    #home .page_content{

    padding-left: 2rem;
}
    #home .words h5{
        width: 60dvw;
    }
    #home .troll{
        font-size: 8rem !important;
    }
    
}
@media (max-width:695px) {
#home aside{
    display: none;
}
#home .page_content{
    width: 100%;
    padding: 2rem 1rem;
}
    #home .words h5{
        width: 80dvw;
    }
    #home h1:not(.zeddy){
        font-size: 2.15rem;
}
    #home .troll{
        font-size: 6rem !important;
    }
    
}

@media (max-width:430px){
    #home h1:not(.zeddy){
        font-size: 1.7rem;
}
    #home .zeddy{
        font-size: 3rem;
    }
    #home .words h5{
        width: 100%;
    }
        #home .troll{
        font-size: 4rem !important;
    }
}
